/*************************************************
*  Navigation section
**************************************************/

.header {
  @extend .center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $ele-bgr;
  box-shadow: 0 5px 17px rgba($body-bgr, 0.9);
  z-index: $z-index;

  @include e(container) {
    @extend .wrapper;
    @extend .flex;
    width: 100%;
    height: $nav-height;
    justify-content: space-between;
    align-items: center;
  }

  @include e(logo) {
    @extend .flex;
    position: relative;
    width: 175px;

    img {
      display: block;
      width: 100%;
    }
  }

  @include e(toggle) {
    color: $text-color;
    font-size: 34px;
    cursor: pointer;

    @include bp(m) {
      display: none;
    }
  }

  @include e(icons) {
    @extend .flex;
    align-items: center;
    justify-content: space-between;

    @include bp(m) {
      display: none;
    }
  }

  @include e(overlay) {
    display: block;
    position: fixed;
    top: $nav-height;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $overlay;
    visibility: hidden;
    opacity: 0;
    transition: opacity $speed-high ease-in-out;

    @include m(show) {
      visibility: visible;
      opacity: 1;
    }

    @include bp(m) {
      display: none;
    }
  }

}
.extra-nav {
  @extend .flex;
  position: fixed;
  top: $nav-height;
  left: -100%;
  flex-direction: column;
  width: 300px;
  height: calc(100vh - #{$nav-height});
  padding: 80px 0 50px 20px;
  background-color: $ele-bgr;
  box-shadow: 0 21px 25px $overlay;
  overflow-y: auto;
  z-index: $z-index;
  transition: $speed-high;
  color: $heading-color;

  @include bp(m) {
    position: relative;
    top: auto;
    left: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    height: auto;
    margin-top: 20px;
    padding: 0;
    background-color: transparent;
    transition: none;
    box-shadow: none;
    z-index: 0;
  }

  @include e(close) {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 35px;
    cursor: pointer;

    @include bp(m) {
      display: none;
    }
  }

  @include e(partners) {
    @extend .flex;
    flex-direction: column;
    order: 2;
    margin: 30px 0;


    @include bp(m) {
      flex-direction: row;
      margin: 0;
      order: 1;
    }
  }

  @include e(partner) {
    margin-bottom: 20px;
    font-size: 13px;
    color: $text-color;

    @include bp(m) {
      display: flex;
      align-items: center;
      width: 130px;
      padding-right: 20px;
      margin-bottom: 0;
      margin-right: 20px;
      border-right: 2px solid $btn-bgr;

      &:last-child {
        margin: 0;
      }
    }
    img {
      height: 31px;
      margin-right: 10px;
    }

  }
  @include e(lr) {
    order: 1;
    .btn {
      margin: 0 30px 20px 0;
    }

    @include bp(m) {
      display: flex;
      order: 2;
      .btn {
        margin: 0;

        @include m(accent) {
          margin: 0 0 0 10px;
        }
      }
    }
  }
  &.show {
    left: 0;
  }
}
